{% extends 'bootstrap/base.html' %}

{% block title %}

Untidled Shop

{% endblock %}

{% block content %}
<div class="container-fluid" style="background-color:orangered; color:white; font-family:comic-sans; padding:1.5rem;">
    <h1 style="font-size:8rem">Welcome to Untidled Shop</h1>
</div>
<div style="margin:3rem">
    <a href="/AddProducts" class="btn btn-primary">Add Product</a>
    <a href="/BuyProducts" class="btn btn-primary">Buy Product</a>
    <a href="/DeleteProducts" class="btn btn-primary">Delete a Product</a>
<!--    <a href="/Checkout" class="btn btn-primary">Your Cart</a>-->
</div>
{% endblock %}