{% extends 'Bootstrap/base.html' %}

{% block title %}

Login

{% endblock %}

{%block content%}
<div class="jumbotron">
        <div class="container">
            <h1>DiaryLogin</h1>
            <p>Have an account?<a href="/">Click Here</a></p>
        </div>
    </div>
<div>
<div>
    {% for flashed in get_flashed_messages()%}
        <div class="text-center">
            {{flashed}}
        </div>
    {%endfor%}
</div>
<div style="margin:3rem; border-style: solid; width:15rem; margin: auto;" class="text-center">
    <form method="POST" class="text-center">
        <input type="email" name="Email" placeholder="Email" class="form-control" required>
        <input type="password" name="Password" placeholder="Password" class="form-control" required>
        <input type="submit" name="Login" class="btn btn-outline-dark btn-sm">
    </form>
</div>
{%endblock%}