{% extends 'bootstrap/base.html' %}

{% block title %}

Jumbled Words

{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Login</h1>
        <p>Don't have an account?<a href="/">Click Here</a></p>
    </div>
</div>
<div style="margin:3rem; border-style: solid; width:18rem; margin: auto;" class="text-center">
    <form class="form-inline" method="POST">
        <input type="email" name="Email" placeholder="Email" class="form-control" required><br>
        <input type="password" name="Password" placeholder="Password" class="form-control" required><br>
        <input type="submit" name="Login" class="form-control"><br>
    </form>
</div>
{% endblock %}